*{
    margin: 0;
    padding: 0;
}

.dropdown a img{
    width: 50px;
    height: 50px;
}

#prof-drop{
    position: absolute;
    right: 5px;
    top: 3px;
}

#search-border{
    border: none;
}

#navbarSupportedContent{
    width:240px;
}

.apply{
    border: 2px solid orange; 
    border-radius: 20px;
    color: orange;
    background-color: white;
}

.imgTitle{
    bottom: 14px;
    border-radius: 10px;
    background-color: white;
}

.img1{
    width: 25px;
    height: 25px;
}

.duration::before
{
    content: '';
    width: 200%;
    background-color: rgba(128, 128, 128, 0.334);
    position: absolute;
    z-index: -1;
    left: -100px;
}


@media  only screen and (max-width:575px) {
    #hide{
        display: none;
    }
    #drop-pos{
        left: -62px;
    }    
    .dropdown-border{
        border: none;
    }
    #gridList{
        display: none !important;
    }
}