.card {
    margin-bottom: 1rem;
}

.list-view .row>[class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}




*{
    margin: 0;
    padding: 0;
}

.dropdown a img{
    width: 50px;
    height: 50px;
}

#prof-drop{
    position: absolute;
    right: 5px;
    top: 3px;
}

#search-border{
    border: none;
}

#navbarSupportedContent{
    width:240px;
}

.icon{
    background-color: rgba(0, 0, 0, 0.45);
}

.heart{
    width: 38px;
    height: 32px;
}

.apply{
    border: 2px solid orange; 
    border-radius: 20px;
    color: orange;
    background-color: white;
}

.imgTitle{
    bottom: 14px;
    border-radius: 10px;
    background-color: white;
}

.img1, .pin{
    width: 25px;
    height: 25px;
}

#filter{
    width: 240px;
}

.filter-list {
    /* padding:6px 10px;  */
    background-color: white;
    border: 1px solid #808080;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
}

.filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}
.filters-section{
    margin-top:2%;
}











.list-view .row > 
    [class*='col-'] {
      max-width: 100%;
      flex: 0 0 100%
    }
  
  .card {
    @media (max-width: 575.98px) {
     flex-direction: column;
    
    flex-direction: row ;
     .card-img-top {
     width: auto;
    }
    
    .card-body {
      display: inline-block;
    }
  }
}

@media screen and (max-width:768px) {
    #filter{
        flex-direction: column !important;
    }  
    .drop{
        position: static !important;
        transform: unset !important;
    }
    .noborder{
        border: none !important;
    }  
}

@media  only screen and (max-width:575px) {
    #hide{
        display: none;
    }
    #drop-pos{
        left: -62px;
    }    
    .dropdown-border{
        border: none;
    }
    #gridList{
        display: none !important;
    }
    .heart{
        width: 32px;
        height: 28px;
    }
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card>.card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}