*{
    margin: 0;
    padding: 0;
}


#container{
    display: flex;
}

#subcontainer{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.carousel{
    width: 70% !important;
} 

.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.btn{
    width: 100%;
    background-color: white;
    color: coral;
    border-color: coral;
    border-radius: 20px;
}

#form{
    width: 70%;
    margin: auto;
}

#login{
    text-align: center;
    margin-top: 5px;
}

#policy{
    text-align: center;
    text-decoration: none;
    color: gainsboro;
    margin-bottom: 5%;
}

.carousel-item img{
    height: 100vh;
}

h4{
    text-align: center;
}

#text{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

button{
    margin-top: 10px;
}

#login a{
    text-decoration: none ;
    color: #000;
}

@media screen and (max-width:1000px) {
    #container{
        flex-direction: column;
    }
    .carousel-item img{
        height: unset;
    }
    .carousel{
        width: 100% !important;
    } 
    #subcontainer{
        margin: 20px auto;
        width: 70%;
    }
    #form{
        width: 90%;
    }
    #policy{
        margin-bottom: 0;
        margin-top: 30%;
    }
}