*{
    margin: 0;
    padding: 0;
}

.dropdown a img{
    width: 50px;
    height: 50px;
}

#prof-drop{
    position: absolute;
    right: 5px;
    top: 3px;
}

#search-border{
    border: none;
}

#navbarSupportedContent{
    width:240px;
}

.icon{
    background-color: rgba(0, 0, 0, 0.45);
}

.heart{
    width: 38px;
    height: 32px;
}

.apply{
    border: 2px solid orange; 
    border-radius: 20px;
    color: orange;
    background-color: white;
}

.imgTitle{
    bottom: 14px;
    border-radius: 10px;
    background-color: white;
}

.img1, .pin{
    width: 25px;
    height: 25px;
}

#filter{
    width: 240px;
}

.pill{
    width: fit-content;
    background-color: white;
}

#progress{
    width: 500%;
}

#hr{
    position: relative;
    bottom: 2rem;
}


.filter-list {
    /* padding:6px 10px;  */
    background-color: white;
    border: 1px solid #808080;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
}

.filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}
.filters-section{
    margin-top:2%;
}

.stardiv{
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}

#starLine{
    position: relative;
    bottom: 1.6rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color) !important;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border: none;
    border-bottom: 2px solid black !important;
}

.volunteer-img{
    width: 3rem;
    height: 3rem;
}

.bg-white{
    background-color: white;
}

.comment{
    height: 408px;
    overflow-y: auto;
}















img {
    vertical-align: middle;
  }
  
  /* / Position the image container (needed to position the left and right arrows) / */
  .container {
    position: relative;
  }
  
  /* / Hide the images by default / */
  .mySlides {
    display: none;
  }
  
  /* / Add a pointer when hovering over the thumbnail images / */
  .cursor {
    cursor: pointer;
  }
  
  /* / Next & previous buttons / */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
   bottom: 0%;
  
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* / Position the "next button" to the right / */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* / On hover, add a black background color with a little bit see-through / */
  /* .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } */
  
  /* / Number text (1/3 etc) / */

  
  /* / Container for image text / */
 
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* / Six columns side by side / */
  .column {
    float: left;
    width: 16.66%;
  }

@media screen and (max-width:768px) {
    #filter{
        flex-direction: column !important;
    }  
    .drop{
        position: static !important;
        transform: unset !important;
    }
    .noborder{
        border: none !important;
    }  
}

@media  only screen and (max-width:575px) {
    #hide{
        display: none;
    }
    #drop-pos{
        left: -62px;
    }    
    .dropdown-border{
        border: none;
    }
}